<div class="navbar navbar-expand-md navbar-light ml-auto">
  <a routerLink="">
    <img class="logo" src="../static/images/w.in-db8.png"  alt="w.in-db8.png" style="width:2em; height:3em;">
  </a>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse ml-auto" style="width: 100%" id="collapsibleNavbar" *ngIf="this.loginService.isLoggedOut">
    <div class="container-fluid" style="width: 100%;">
      <ul class="navbar-nav" style="justify-content: flex-end">
          
        
        <li class="nav-item">
          <a class="nav-link" routerLink="mentees">MENTEES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mentors">MENTORS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="articles">PUBLICATIONS</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">CONTACT</a>
        </li>
        <li>
          <button class="login-button" (click)="openLogin()">Login</button>
        </li>




      </ul>
    </div>
  </div>
</div>
